name: Pull Request CI

on:
  pull_request:
    paths:
      - '**.kt'
      - '**.xml'
      - '**.gradle'
      - '.github/workflows/pr-ci.yaml'

jobs:
  pr-ci:
    runs-on: ubuntu-latest

    env:
      HOST: http://localhost
    
    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set config files
        run: echo ${{ secrets.DEBUG_GOOGLE_SERVICES_JSON }} | base64 -d > mobile/src/debug/google-services.json

      - name: Start Http Docker
        run: docker run -p 80:80 -d --name httpbin kennethreitz/httpbin
  
      - name: Wait for the service to start
        run: |
          while ! curl --output /dev/null --silent --head --fail http://localhost; do
            sleep 1
          done

      - name: Run test
        run: ./gradlew testDebugUnitTest
  
      - name: Stop Docker container
        run: docker stop httpbin

      - name: shared test report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: shared test
          path: shared/build/test-results/testDebugUnitTest/TEST-*.xml
          reporter: java-junit
          fail-on-error: false

      - name: mobile test report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: mobile test
          path: mobile/build/test-results/testDebugUnitTest/TEST-*.xml
          reporter: java-junit
          fail-on-error: false

      - name: wear test report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: wear test
          path: wear/build/test-results/testDebugUnitTest/TEST-*.xml
          reporter: java-junit
          fail-on-error: false
